build/
dist/
.eggs/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
.venv*
.env*
# JetBrains PyCharm settings
.idea/
.DS_Store
node_modules/
.serverless/
.requirements.zip
package.json
package-lock.json
.python-version
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
